<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {{ JSGlue.include() }}
    <title>Deliverly - {% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <h1>Deliverly</h1>
        <ul class="navbar-ul">
            <li class="navbar-li"><a class="navbar-lnk" href="{{ url_for('home') }}">Home</a></li>
            <li class="navbar-li"><a class="navbar-lnk" href="{{ url_for('tables.customers') }}">Customers</a></li>
        </ul>
    </nav>
    <section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
</body>
</html>