<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Deliverly - Home</title>
</head>
<body>
    <h1>Deliverly</h1>

    <table style="margin: 0px auto;">
        <thead>
            <tr>
                <th scope="col">Create blank database</th>
                <th scope="col">Insert production data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center">
                    <form action="/blank" method="GET">
                        <button type="button">Action</button>
                    </form>
                </td>
                <td align="center">
                    <form action="/prod_data" method="GET">
                        <button type="button">Action</button>
                    </form>
                </td>
            </tr>
    </table>
</body>
</html>
