<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {{ JSGlue.include() }}
    <title>Deliverly - Home</title>
</head>
<body>
    <h1>Deliverly</h1>

    <table style="margin: 0px auto;">
        <thead>
            <tr>
                <th scope="col">Create blank database</th>
                <th scope="col">Insert production data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center">
                    <button id="create_empty_tables">Action</button>
                </td>
                <td align="center">
                    <button id="insert_prod_data">Action</button>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p id="init_status">Status: Press Action</p>
                </td>
                <td align="center">
                    <p id="p_data_status">Status: Press Action</p>
                </td>
            </tr>
    </table>
    <div class="link">
        <a href="{{ url_for('tables.customers') }}">Go to table</a>
    </div>
    <script src="{{ url_for('static', filename='js/db_admin.js') }}"></script>
</body>
</html>
