{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Database viewer{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-primary">
            {% for c in columns %}
                <th scope="col">{{c}}</th>
            {% endfor %}
                <th scope="col">Delete Entry</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for col in row %}
                <td>{{col}}</td>
                {% endfor %}
                <td>
                    <form action="{{ url_for('database.delete_entry', table=table, id=row[0]) }}" name="form" method="post">
                        <button class="btn btn-primary" name="delete" value="delete">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
{% endblock %}
