{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Database viewer{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-primary">
            {% for c in columns %}
                <th scope="col">{{c}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for col in row %}
                <td>{{col}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}